* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* list-style-type: none; */
}

body {
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.nav {
    display: flex;
    height: 5rem;
    background: #333;
    padding: 14px;
    margin-bottom: 23px ;
}

.nav h2 {
    color: #fff;
    text-align: center;
    font-size: 2.9rem;
}

.content .projects {
    max-width: 1280px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 2rem;

}

.content .projects .project1, .project2, .project3 {
    background: skyblue;
    height: 180px;
    width: 180px;
    margin:  0.5rem;
    border-radius: 10px;
}


